<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="fonts-header">
            MG Hector
        </div>
        <br>
        <div class="fonts">
            Estimated Price: "?" 25 - 30 Lakhs
        </div>
        <div class="fonts">
            Expected Lanch : 9th July 2019

        </div>
        <!-- <div class="fonts">
        <a>
            <mat-icon class="icon">information</mat-icon>
        </a>
        </div> -->
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card-content>
</mat-card>