<mat-toolbar color="primary">
	Popular Brands
</mat-toolbar>

<mat-card>
	<a routerLink="/dashboard">
		<img src="../../assets/maruti.jpg" alt="Maruti Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/hyundai.jpg" alt="Hyundai Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/ford.jpg" alt="Ford Cars">
	</a>
	<a routerLink="/dashboard">
		<img src="../../assets/honda.jpg" alt="Honda Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/maruti.jpg" alt="Maruti Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/hyundai.jpg" alt="Hyundai Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/ford.jpg" alt="Ford Cars">
	</a>
	<a routerLink="/dashboard">
		<img src="../../assets/honda.jpg" alt="Honda Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/maruti.jpg" alt="Maruti Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/hyundai.jpg" alt="Hyundai Cars">
	</a>

	<a routerLink="/dashboard">
		<img src="../../assets/ford.jpg" alt="Ford Cars">
	</a>
	<a routerLink="/dashboard">
		<img src="../../assets/honda.jpg" alt="Honda Cars">
	</a>
</mat-card>


<mat-tab-group class="tabheader">
		<mat-tab label="Upcoming Cars">
			<app-card></app-card>
		</mat-tab>
		<mat-tab label="New Cars">
			<div>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			</div>
		</mat-tab>
		<mat-tab label="Popular Cars">
			<app-card></app-card>
			<app-card></app-card>
		</mat-tab>
</mat-tab-group>
